.topBar {
    -fx-background-color: #200D3A;
}

.secondaryTopBar {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770, #CE5E82);
}

.anchorPane {
    -fx-background-color: #21252b;
}

.blur {
    -fx-background-color: rgba(21, 18, 18, 0.5);
}

.menuButton {
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.horizontalButton {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.horizontalButton:hover {
    -fx-text-fill: #f6dcac;
}

.sideMenuButton {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #c2f8ff;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 30;
}

.leader-board-view {
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 0;
    -fx-background-color: pink;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 0;
    -fx-background-radius: 10px;

}

.sideMenuButton:disabled {
    -fx-opacity: 1;
}

.sideMenuButton:hover {
    -fx-background-color: linear-gradient(to right,#200D3A, #292651, #2E4770);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.sideMenu {
    -fx-background-color: #21252b;
}

.sideMenuScrollPane {
    -fx-background-color: transparent;
}

.sideMenuScrollPane > .viewport {
    -fx-background-color: transparent;
}

.textArea {
    -fx-background-color: #21252b;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.textArea .content {
    -fx-background-color: #21252b;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#webView .scroll-bar {
    visibility: false;
}

.dictionaryRightNav {
    -fx-background-color: #21252b;
    -fx-border-color: transparent;
}

.right-nav-box {
    -fx-effect: dropshadow(three-pass-box, #ce5e82,0,1,5,5);
    -fx-background-radius: 10px;
    -fx-background-color: #200D3A;
    /*-fx-effect: dropshadow(type,color,radius,spread,offsetx,offsety);*/
}

.pane-title {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);;
    -fx-background-radius: 10 10 0 0;
}

#starButton {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/star.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#starButton:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/star_filled.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#editButton {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/edit_dictionary.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#editButton:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/edit_filled.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#speakerButton {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/speaker.png');
    -fx-background-size: 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#speakerButton:hover {
    -fx-background-color: transparent;
    -fx-background-image: url('../png/speaker_filled.png');
    -fx-background-size: 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tab .tab-label {
    -fx-background-color: #292651;
    -fx-text-fill: #ce5e82;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.tab {
    -fx-background-color: #292651;
    -fx-text-fill: #ce5e82;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-background-color: #200D3A;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #200D3A;
}

.tab-pane {
    -fx-background-color: #200D3A;
    -fx-background-radius: 10px;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);;
    -fx-background-radius: 10 10 0 0;
}

.tab-anchor {
    -fx-background-radius: 10px;
}

.tab-pane-list-view .list-cell {
    -fx-text-fill: #ce5e82;
    -fx-background-color:  #200D3A;
    -fx-padding: 0px 0px 0px 10px;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#searchBar {
    -fx-background-color: #282c34;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.list-cell {
    -fx-text-fill: white;
    -fx-background-color: #282c34;
    -fx-border-radius: 10px;
}

.list-cell:selected {
    -fx-background-color: #2E4770;
}

.list-cell:hover {
    -fx-background-color: #2E4770;
}

.tab-pane-list-view .list-cell:selected {
    -fx-text-fill:  #ce5e82;
    -fx-background-color:  #2E4770;
}

#historyListView {
    -fx-background-color:  #200D3A;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
}

.tab-pane-list-view {
    -fx-background-color:  #200D3A;
    -fx-background-insets: 0;
    -fx-background-radius: 0px 10px 10px 10px;
}

#clearHistoryPane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}

#clearHistoryButton {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #b93939;
    -fx-font-size: 15;

    -fx-background-image: url('../png/delete.png');
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

#clearHistoryButton:hover {
    -fx-text-fill: white;
    -fx-background-image: url('../png/delete_filled.png');
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.normal-label {
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}

.wordLabel {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #CE5E82;
    -fx-font-weight: bold;
    -fx-font-size: 28;
    -fx-wrap-text: true;
}

.chart-line-symbol.default-color0 {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.soundLabel {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill: #f6dcac;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-wrap-text: true;
}

.chart{
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: #200d3a;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #b45479;
}

.chart-pie {
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.pie-chart-anchor {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.pie-chart-cover {
    -fx-fill: white;
    -fx-stroke: white;
}






