.topBar {
    -fx-background-color: #200D3A;
}

.secondaryTopBar {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770, #CE5E82);
}

.anchorPane {
    -fx-background-color: #2f2f2f;
}

.blur {
    -fx-background-color: rgba(169, 169, 169, 0.5);
}

.menuButton {
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.menuButton:hover {
    -fx-effect: Bloom;
}


.horizontalButton {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.sideMenuButton {
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 20;
}

.menuButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.textArea {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.textArea .content {
    -fx-background-color: #2f2f2f;
    -fx-font-size: 20;
    -fx-text-fill: white;
}



