.topBar {
    -fx-background-color: #200D3A;
}

.secondaryTopBar {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770, #CE5E82);
}

.anchorPane {
    -fx-background-color: #21252b;
}

.blur {
    -fx-background-color: rgba(21, 18, 18, 0.5);
}

.menuButton {
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.horizontalButton {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.horizontalButton:hover {
    -fx-text-fill: #f6dcac;
}

.sideMenuButton {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #c2f8ff;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 30;
}

.sideMenuButton:hover {
    -fx-background-color: linear-gradient(to right,#200D3A, #292651, #2E4770);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.sideMenu {
    -fx-background-color: #21252b;
}


.textArea {
    -fx-background-color: #21252b;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.textArea .content {
    -fx-background-color: #21252b;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#webView .scroll-bar {
    visibility: false;
}

.dictionaryRightNav {
    -fx-background-color: #21252b;
    -fx-border-color: transparent;
}

.right-nav-box {
    -fx-effect: dropshadow(three-pass-box, #ce5e82 ,0,1,5,5);
    -fx-background-radius: 10px;
    -fx-background-color: #200D3A;
    /*-fx-effect: dropshadow(type,color,radius,spread,offsetx,offsety);*/
}

.pane-title {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);;
    -fx-background-radius: 10;

}
