.option-bar {
    -fx-background-color: grey;
}

.anchor-pane {
    -fx-background-color: #2f2f2f;
}

.selectionRectangle {
    -fx-fill: rgb(126, 255, 255,0.3);
    -fx-stroke: #2f2f2f;
    -fx-stroke-width: 1;
}

.node-pane {
    -fx-background-color: white;
}

/*noinspection CssInvalidPseudoSelector*/
.node-pane:clicked {
    -fx-background-color: green;
}

.node-title {
    -fx-alignment: center;
}