#Pane {
    -fx-background-color: "#21252b";
}

#langPane {
    -fx-background-color: "#200D3A";
    -fx-background-radius: 25 25 25 25;
}

.label {
    -fx-font-size: 30;
    -fx-font-family:"Helvetica Neue";
    -fx-alignment: center;
    -fx-font-weight: 900;
    -fx-text-fill: "white";
}

#translatorTitle {
    -fx-font-size: 60;
}

#recordingStatus {
    -fx-text-fill: "black";
    -fx-font-size: 20;
}
