.anchorPane {
    -fx-background-color: #21252b;
}

.menuButton {
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.horizontalButton {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.horizontalButton:hover {
    -fx-text-fill: #f6dcac;
}



.leader-board-view {
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 0;
    -fx-background-color: pink;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 0;
    -fx-background-radius: 10px;
}

.sideMenu {
    -fx-background-color: #21252b;
}

.sideMenuScrollPane {
    -fx-background-color: transparent;
}

.sideMenuScrollPane > .viewport {
    -fx-background-color: transparent;
}

.textArea {
    -fx-background-color: #21252b;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.textArea .content {
    -fx-background-color: #21252b;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.normal-label {
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}

.timer-title {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-background-color: #313131;
    -fx-text-fill: #7c7c7c; /* Neon green */
    -fx-background-radius: 10 10 0 0;
}

.timer-label {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill:  #7c7c7c; /* Neon green */
    -fx-alignment: center;
    -fx-prompt-text-fill:  #7c7c7c; /* Neon green */
}



