.anchorPane {
    -fx-background-color: #21252b;
}

.menuButton {
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.horizontalButton {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.horizontalButton:hover {
    -fx-text-fill: #f6dcac;
}

.sideMenuButton {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #c2f8ff;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 30;
}

.leader-board-view {
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 0;
    -fx-background-color: pink;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 20;
    -fx-graphic-text-gap: 0;
    -fx-background-radius: 10px;
}

.sideMenuButton:disabled {
    -fx-opacity: 1;
}

.sideMenuButton:hover {
    -fx-background-color: linear-gradient(to right,#200D3A, #292651, #2E4770);
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.sideMenu {
    -fx-background-color: #21252b;
}

.sideMenuScrollPane {
    -fx-background-color: transparent;
}

.sideMenuScrollPane > .viewport {
    -fx-background-color: transparent;
}

.textArea {
    -fx-background-color: #21252b;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.textArea .content {
    -fx-background-color: #21252b;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#webView .scroll-bar {
    visibility: false;
}

.normal-label {
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}




