/*Global settings*/
.anchor-pane {
    -fx-background-color: #21252b;
}

.pane {
    -fx-background-color: #200D3A;
}

.scroll-bar {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.web-view .scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10;
}

.gradient-pane-1 {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770, #CE5E82);
}

.title-pane {
    -fx-background-radius: 10 10 0 0;
}

.gradient-pane-2 {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);
}

.gradient-pane-3 {

}

.account-button:hover {
    -fx-text-fill: #f6dcac;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.leader-board .viewport {
    -fx-background-color: transparent;
}

.icon-button:pressed {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.label-normal {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill:  white;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.label-highlight {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill:  #CE5E82;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.floating-anchor-pane {
    -fx-effect: dropshadow(three-pass-box, #ce5e82,0,1,5,5);
    -fx-background-radius: 10px;
    -fx-background-color: #200D3A;
}

.text-field {
    -fx-background-color: #282c34;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-padding: 10px;
}

.todo-list-item .text-field {
    -fx-background-color: #282c34;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-padding: 0;
}


.edit-word-text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #282c34;
    -fx-control-inner-background: #282c34;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.edit-word-text-area .scroll-pane {
    -fx-background-color: transparent;
}


.side-menu-button {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 30;
    -fx-font-size: 20;
    -fx-text-fill: #ce5e82;
}

.side-menu-button:disabled {
    -fx-opacity: 1;
}

.side-menu-button:hover {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);
}

.pill-button {
    -fx-font-family: Roboto, sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #597f9d;
    -fx-background-radius: 30;
}

.pill-button:hover {
    -fx-background-color: #3e5b70;
}

#imageScrollPane .viewport {
    -fx-background-color: transparent;
}

#imageScrollPane .scroll-bar {
    visibility: false;
}


/*scene specific settings*/
.editor-name {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-background-radius: 10 10 0 0;

    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-fill:  #CE5E82;
    -fx-font-size: 20;
    -fx-wrap-text: true;
}

.dictionary-scene {
    -fx-background-color: #21252b;
}

.dictionary-scene .gradient-pane-2 {
    -fx-background-radius: 10 10 0 0;
}

.dictionary-scene .word-label {
    -fx-font-size: 28;
}

.dictionary-scene .sound-label {
    -fx-text-fill: #f6dcac;
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-wrap-text: true;
}

.dictionary-scene .star-button {
    -fx-background-image: url('../../png/star.png');
}

.dictionary-scene .star-button:hover {
    -fx-background-image: url('../../png/star_filled.png');
}

.edit-button {
    -fx-background-image: url('../../png/edit_dictionary.png');
}

.edit-button:hover {
    -fx-background-image: url('../../png/edit_filled.png');
}

.dictionary-scene .speaker-button {
    -fx-background-image: url('../../png/speaker.png');
}

.dictionary-scene .speaker-button:hover {
    -fx-background-image: url('../../png/speaker_filled.png');
}

.x-button {
    -fx-background-image: url('../../png/x.png');
}

.x-button:hover {
    -fx-background-image: url('../../png/x_filled.png');
}

.menu-button {
    -fx-background-image: url('../../png/menuIcon.png');
}

.menu-button:hover {
    -fx-background-image: url('../../png/menuIcon_filled.png');
}

.icon-button-big {
    -fx-background-radius: 20px;
    -fx-background-color: #2E4770;
    -fx-background-size: 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.icon-button-big:hover {
    -fx-background-color: #243c62;
}

.icon-button-big:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}



.icon-button-big:hover {

}

.dictionary-button {
    -fx-background-image: url('../../png/book.png');
}

.translate-button {
    -fx-background-image: url('../../png/translate.png');
}

.chat-button {
    -fx-background-image: url('../../png/robot.png');
}

.thesaurus-button {
    -fx-background-image: url('../../png/magGlass.png');
}

.dictionary-scene .clear-history-button {
    -fx-background-image: url('../../png/delete.png');
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 20;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #b93939;
    -fx-font-size: 15;
    -fx-background-size: 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.dictionary-scene .clear-history-button:hover {
    -fx-background-image: url('../../png/delete_filled.png');
}

.delete-button {
    -fx-background-image: url('../../png/delete.png');
}

.delete-button:hover {
    -fx-background-image: url('../../png/delete_filled.png');
}


#word-anchor-web-view-blur {
    -fx-effect: dropshadow(three-pass-box, #21252b, 10, 0, 0, 0);
}

.tab-pane-list-view {
    -fx-background-color: transparent;
}

.dictionary-scene .tab-pane-list-view .list-cell {
    -fx-text-fill: #ce5e82;
    -fx-background-color:  #200D3A;
    -fx-padding: 0px 0px 0px 10px;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.dictionary-scene .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #282c34;
    -fx-border-radius: 10px;
}

.dictionary-scene .list-cell:selected {
    -fx-background-color: #2E4770;
}

.dictionary-scene .list-cell:hover {
    -fx-background-color: #2E4770;
}

.dictionary-scene .tab-pane-list-view .list-cell:selected {
    -fx-text-fill:  #ce5e82;
    -fx-background-color:  #2E4770;
}

.dictionary-scene .tab-pane-list-view {
    -fx-background-color:  #200D3A;
    -fx-background-insets: 0;
    -fx-background-radius: 0px 10px 10px 10px;
}

.edit-scene .tab-pane-list-view .list-cell {
    -fx-text-fill: #ce5e82;
    -fx-background-color:  #200D3A;
    -fx-padding: 0px 0px 0px 10px;
    -fx-font-family: Roboto;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.edit-scene .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #282c34;
    -fx-border-radius: 10px;
}

.edit-scene .list-cell:selected {
    -fx-background-color: #2E4770;
}

.edit-scene .list-cell:hover {
    -fx-background-color: #2E4770;
}

.edit-scene .tab-pane-list-view .list-cell:selected {
    -fx-text-fill:  #ce5e82;
    -fx-background-color:  #2E4770;
}

.edit-scene .tab-pane-list-view {
    -fx-background-color:  #200D3A;
    -fx-background-insets: 0;
    -fx-background-radius: 0px 10px 10px 10px;
}

.tool-bar {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.edit-scene {

}

.user-profile-scene {

}

.login-scene {

}

.toggle-button:selected {
    /*-fx-background-color: #3c586c;*/
    -fx-text-fill: #ffee92;
}

/*Global charts*/
.chart-line-symbol.default-color0 {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.chart{
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: #200d3a;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #b45479;
}

.chart-pie {
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.pie-chart-anchor {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.pie-chart-cover {
    -fx-fill: white;
    -fx-stroke: white;
}

.tab .tab-label {
    -fx-background-color: #292651;
    -fx-text-fill: #ce5e82;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.tab {
    -fx-background-color: #292651;
    -fx-text-fill: #ce5e82;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-background-color: #200D3A;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #200D3A;
}

.tab-pane {
    -fx-background-color: #200D3A;
    -fx-background-radius: 10px;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: linear-gradient(to right, #200D3A, #292651, #2E4770);;
    -fx-background-radius: 10 10 0 0;
}

.tab-anchor {
    -fx-background-radius: 10px;
}

.blur {
    -fx-background-color: rgba(21, 18, 18, 0.5);
}

.scroll-pane {
    -fx-background-color:transparent;
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.scroll-bar {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 10;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.split-pane *.split-pane-divider {
    -fx-background-color: #333;
    -fx-padding: 0.5em;
}

.split-pane *.split-pane-divider:hover {
    -fx-background-color: #555;
}

.selectionRectangle {
    -fx-fill: rgb(126, 255, 255,0.3);
    -fx-stroke: #2f2f2f;
    -fx-stroke-width: 1;
}

.node-pane {
    -fx-min-width: 200;
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/*noinspection CssInvalidPseudoSelector*/
.node-pane:clicked {
    -fx-background-color: #426A70FF;
    -fx-border-color: #006d79;

}

.spinner {
    -fx-background-color: #262a32;
}

.spinner .increment-arrow-button {
    -fx-background-color: #262a32;
}
.spinner .decrement-arrow-button {
    -fx-background-color: #262a32;
}

.spinner .increment-arrow-button:hover {
    -fx-background-color: #3e424b;
}
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #3e424b;
}

.spinner .increment-arrow {
    -fx-background-color: #985d80;
}


.play-button {
    -fx-effect: dropshadow(three-pass-box, #ce5e82,0,1,5,5);
    -fx-background-radius: 10px;
    -fx-background-color: #200D3A;
    -fx-font-size: 24;
    -fx-text-fill: #ce5e82;
    -fx-font-weight: bold;
}

.play-button:hover {
    -fx-text-fill: #f6dcac;
}

.play-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-font-size: 24;
}

.spinner .decrement-arrow {
    -fx-background-color: #985d80;
}

.node-title {
    -fx-background-color: #ffee92;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
}

.node-content {
    -fx-alignment: baseline-left;
    -fx-text-alignment: center;
}

.check-box {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill:  #7c7c7c;
    -fx-font-size: 15;
}

.title-label {
    -fx-text-fill: #7c7c7c; /* Neon green */
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
}

.timer-title {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-background-color: #313131;
    -fx-text-fill: #7c7c7c; /* Neon green */
    -fx-background-radius: 10 10 0 0;
}

.timer-card {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.widget {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.timer-label {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill:  #7c7c7c; /* Neon green */
    -fx-alignment: center;
    -fx-prompt-text-fill:  #7c7c7c; /* Neon green */
}

.tick-box:selected {
    -fx-text-fill: #ce5e82;
}

.check-box .box {
    -fx-background-color: #333;
}



