.option-bar {
    -fx-background-color: grey;
}

.anchor-pane {
    -fx-background-color: #2f2f2f;
}


.editor-text-field {

}

.field-name {
    -fx-text-fill: white;
}





.list-view:focused, .text-area:focused, .text-field:focused {
    -fx-border-color: transparent;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #555;
}

.text-area .content {
    -fx-background-color: #333;
    -fx-border-radius: 10px;
}

.list-view, .text-area, .text-field {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

.text-field .content {
    -fx-background-color: #333;
    -fx-border-radius: 10px;
}


