.timer-title {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-background-color: #313131;
    -fx-text-fill: #7c7c7c; /* Neon green */
    -fx-background-radius: 10 10 0 0;
}

.timer-card {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.widget {
    -fx-background-color: #181818;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.timer-label {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-text-fill:  #7c7c7c; /* Neon green */
    -fx-alignment: center;
    -fx-prompt-text-fill:  #7c7c7c; /* Neon green */
}

.check-box {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-text-fill:  #7c7c7c; /* Neon green */
    -fx-font-size: 15;
}

.title-label {
    -fx-text-fill: #7c7c7c; /* Neon green */
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
}
