.card {
    -fx-background-color: #CE5E82;
    -fx-background-radius: 30px;
    -fx-padding: 0 0 0 0;
}

.score-label {
    -fx-font-family: Roboto, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #200D3A;
}

.name-label {
    -fx-font-family: Roboto, sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill:#200D3A;
}

.rank-label {
    -fx-font-family: Roboto, sans-serif;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #200D3A;
}
