.label .text {
    -fx-strikethrough: false;
    -fx-wrap-text: true;
    -fx-font-family: Roboto, sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.label {
    -fx-background-color:  #ce5e82;
    -fx-background-radius: 20;
}

.label:hover {
    -fx-background-color: #c53c69;
}

.anchor {
    -fx-background-radius: 20;
}